body {
  background-image: url('./images/todobgimage.jpg');
  font-size: 25px;
}

.all {
  display: flex;
  flex-direction: column;
  margin: 150px 120px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px rgba(7, 5, 5, 0.2);
}

.title,
.form-input,
center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title {
  background: rgb(83, 83, 83);
  color: #fff;
  padding: 0 10px;
}

.form-input > input {
  padding: 0 10px;
}

center {
  justify-content: center;
}

input {
  font-style: italic;
  height: 60px;
  border: none;
  width: 90%;
  font-size: 25px;
  margin-right: 5px;
}

.btn {
  height: 60px;
  width: 10%;
  border: none;
  background-color: rgb(101, 155, 117);
  color: #fff;
}

.nothing {
  background-color: rgb(180, 154, 154);
  color: #fff;
  font-size: 35px;
  height: 60px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  color: rgb(2, 134, 2);
  background-color: blanchedalmond;
}

.fa-trash {
  color: red;
}

.fa-trash:active {
  color: rgb(163, 90, 90);
}

.fa-ellipsis-vertical {
  color: rgb(61, 61, 61);
}

.btn:active {
  color: rgb(163, 90, 90);
}

.fa-square-check {
  color: rgb(134, 2, 2);
}

.clear {
  opacity: 0.9;
  background-color: transparent;
  width: 100%;
  height: 60px;
  font-size: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.clear:active {
  opacity: 0.5;
  background-color: rgb(238, 8, 8);
}

.item > p:hover,
.item > i,
.title > i,
.clear:hover,
.btn:hover {
  cursor: pointer;
}
